<div class="row">
  <div class="col-xs-12">
    <img [src]="this.recipe.elementAttributes['image']" alt="{{this.recipe.name}}" class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-7 col-sm-6 col-lg-8">
    <h3>Ingredients</h3>
    <p *ngFor="let ing of this.ingridient">
      {{ing}}
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-7 col-sm-6 col-lg-8">
    <h3>Directions</h3>
    <p *ngFor="let step of this.steps">
      {{step}}
    </p>
  </div>
</div>
<!--<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>-->
