<!DOCTYPE html>
<html>

<body>

  <form (ngSubmit)="onSubmitLogIn()" action="/action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>LOG-IN</h1>
      <p>Please fill your EMAIL.</p>
      <hr>


      <label for="email"><b>Email:</b></label>
      <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="email" required>


      <div class="clearfix">

        <button type="submit" class="pull-right">Log In</button>
      </div>
      <div *ngIf="!isValidEmailCheack()" class="alert">Invalid Email</div>
    </div>
  </form>


</body>

</html>
